@media screen and (max-width:655px) {  
    body {
        width: 100%;
        min-height: 100vh;
        align-items: flex-start;
        background-color: #fafafa;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }
    .instagram-celular{
        display: none;
    }
    .corpo2 {
        display: flex;
        /* height: 80%; */
        /* align-items: center; */
    }
    .instagram-divisor {
        display: flex;
        width: 100%;
        /* align-items: center; */
    }
}
@media screen and (max-height:724px) {  
    .links{
        display: none;
    }
}
