*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

body{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.bodydireito{
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 35rem;
    width: 25rem;
}
.bodydireito p{
    font-size: 10px;
}
.entrar{
    color: #fafafa;
    box-sizing: border-box;
    border: 0px solid black;
    height: 18px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.1rem 0;
    background-color: rgb(0, 149, 246,.3);
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.entrar p b{
    font-size: 11px;
}
.ou{
    color: #8e8e8e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ou-1{
    width: 7rem;
    background-color: #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin: 10px 15px;

}

.entrar-com-facebook img{
    height: 15px;
    margin-right: 10px;
}
.entrar-com-facebook p b{
    font-size: 10.5px;
}
.entrar-com-facebook{
    color: #385185;
    display: flex;
    align-items: center;
    margin: 10px;
}
.esqueceu-senha{
    margin: 10px;
    color: #00376b;
}
.esqueceu-senha p{
    font-size: 10px;
}
.cadastre-se{
    color: #0095f6;
}
.corpo1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.corpo2{
    align-items: center;
}
.instagram-divisor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44rem;
}
.caixas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}
.preecher{
    color: #8e8e8e;
}
.preecher{
    height: 20px;
    width: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.3rem 0;
    background-color: #fafafa;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.preencher p{
    text-align: left;
}
.instagrampng{
    margin: 20px 0px 38px 0px;
    height: 35px;
}
.instagrampng img{
    height: 42px;
    width: 12rem;
}
.instagram-login{
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 25rem;
}
.acc{
    padding: 2px;
}
.sem-conta{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.acc p{
    font-size: 12px;
}
.acc p b{
    font-size: 10px;
}
.instagram-celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23rem;
    margin-right: 2.2rem;
}
.instagram-celular img{
    margin-top: 3rem;
    height: 43rem;
}
.obter-apps{
    margin: 18px;
}
.obter-apps p{
    font-size: 12px;
    text-align: center;
    margin: 18px;
}
.link-apps{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-link{
    margin: 0px 1.5px;
    height: 38px;
    padding: 2px;
}
.links{
    left: 0;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    text-align: center;
    height: 85px;
    width: 100%;
}
.links a{
    font-size: 11px;
    line-height: 18px;
    color: rgb(142, 142, 142);
    padding: 5px;
}
.link1{
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: center;
}
.link2{
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
